{% extends 'base.html' %}
{% load static %}

{% block task %}
<div class="row">
    {% for st in status %}
    <div class="col-xl-2 col-sm-6">
        <article class="board red">
            <header>
                <h4>{{ st.title }} <span></span></h4>
                <span class="icon flaticon-more-1"></span>
            </header>
            <div class="board-content">
                <ul class="list">
                    {% for task in tasks %}
                        {% if task.status.title == st.title %}
                            <li class="el">
                                <div class="task blue">
                                    <header>
                                        <h3>{{ task.title }}</h3>
                                    </header>
                                    <div class="task-content">
                                        {{ task.details }}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </article>
    </div>
    {% endfor %}
</div>
{% endblock task %}